table {
 border-collapse: collapse;
 margin: 0 auto;
 text-align: center;
}

th, td {
 border: 1px solid black;
 padding: 8px;
}

th {
 background-color: #f2f2f2;
}

.center {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.center button{
 margin: 20px;
}

.row {
 display: flex;
 align-items: center;    justify-content: flex-start;
 width: 50%;
 margin-left: auto;
 margin-right: auto;
 padding: 20px;
}

.half-row {
 width: 50%;
 padding: 20px;
}

.button-progreso3 {
 display: flex;
 justify-content: center;
}